@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

.card{
    background-color: lightskyblue;
    
}

header{
    background-color: ;
}

div{
   text-align: center;
   display: inline;
   
}

img{
    width: 200px;
    height: 200px;
}